hr#footer-separater
#footer
    ul.menu
        li: a(href="#") AAAAA
        li: a(href="#") BBBBB
        li: a(href="#") CCCCC
        li: a(href="#") DDDDD
        li: a(href="#") EEEEE
    p.copyright &copy; My Site