doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title 在庫リスト
        link(rel="stylesheet", href="css/destyle.css")
        link(rel="stylesheet", href="css/style.css")

    body
        .wrapper
            h1 在庫リスト
            include ./_stock_table.pug

        include ./_footer.pug
        //- script(src="/js/main.bundle.js")
